* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    height: 100%;
    overflow-y: scroll;
  }
  
  .black {
    width: 100%;
    min-height: -webkit-fill-available;
    height: 100vh;
    position: fixed;
    display: block;
    background-color: black;
    top: 0;
    left: 0;
    z-index: -12;
  }
  
  body:before {
    content: "";
    display: block;
    position: fixed;
    opacity: .5;
    left: 0;
    top: 0;
    width: 100%;
    min-height: -webkit-fill-available;
    height: 100vh;
    z-index: -10;
    background: url("img/background.jpg") no-repeat center center;
    background-size: cover;
  }
  
  header {
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .div_controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 1s;
    transition: 1s;
  }

  #input_border ul, li {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
  }
  
  .div_controls_sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 10px;
    position: relative;
  }
  
  .div_controls .div_controls_sub:nth-child(3) {
    margin-right: 0;
  }
  
  .div_controls_first_row, .div_controls_second_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .inactive {
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  hr {
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(114, 114, 114, 0.75)), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(114, 114, 114, 0.75), rgba(255, 255, 255, 0));
  }
  
  .color_picker {
    width: 40px;
    height: 40px;
    padding: 0;
    background: none;
    border-radius: 0;
    border: none;
    margin: 0;
    position: absolute;
    top: -5%;
    left: 60%;
  }
  
  #buzz_color, #both_color {
    top: 45%;
    left: 60%;
  }
  
  input {
    width: 180px;
    border-radius: 20px;
    background-color: lightblue;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 10px;
  }
  
  input[type=checkbox] {
    height: 20px;
    width: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0;	
}

    input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    box-shadow:
        2px 2px 2px 0px rgba(12, 12, 12, 0.733),
        3px 3px 2px 0px rgba(255, 255, 255, 0.514)
        
;
}

  input::-webkit-input-placeholder {
    font-style: italic;
    padding-left: 10px;
    color: grey;
  }
  
  input:-ms-input-placeholder {
    font-style: italic;
    padding-left: 10px;
    color: grey;
  }
  
  input::-ms-input-placeholder {
    font-style: italic;
    padding-left: 10px;
    color: grey;
  }
  
  input::placeholder {
    font-style: italic;
    padding-left: 10px;
    color: grey;
  }
  
  label {
    background-color: firebrick;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px outset #ce502e;
  }
  
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  button {
    height: 40px;
    width: 130px;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fff6af;
    box-shadow: inset 0px 1px 0px 0px #fff6af;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffec64), to(#ffab23));
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-shadow: 0px 1px 0px #ffee66;
    margin-bottom: 10px;
  }
  
  button:hover {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  
  .buttons button:nth-child(3) {
    margin-bottom: 0;
  }
  
  #error_messages {
    height: 80px;
    width: 300px;
    padding-left: 20px;
    color: firebrick;
    position: relative;
  }
  
  #error_messages::before {
    content: "Error messages";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 20px;
    padding-top: 10px;
    color: grey;
    font-style: italic;
  }
  
  #error_messages::after {
    content: "";
    /* border: 2px solid black; */
    -webkit-filter: blur(2px);
            filter: blur(2px);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: rgba(136, 230, 172, 0.6);
    z-index: -1;
  }
  
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  main section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1em;
  }
  
  main div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-color: black;
    border-width: 2px;
  }
  
  main div:hover {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  
  footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-size: 2em;
    margin-top: 20px;
  }
  
  .div_class {
    background-color: rgba(207, 72, 142, 0.5);
  }
  
  .fizz_class {
    background-color: rgba(51, 115, 175, 0.5);
    -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
  }
  
  .buzz_class {
    background-color: rgba(61, 211, 106, 0.5);
    -webkit-animation: spin_reverse 3s linear infinite;
            animation: spin_reverse 3s linear infinite;
  }
  
  .both_class {
    background-color: rgba(221, 93, 33, 0.5);
    -webkit-animation: pulse 3s linear infinite;
            animation: pulse 3s linear infinite;
  }
  
  .shadow {
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  }
  
  @-webkit-keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .2;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .2;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    75% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    75% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin_reverse {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
    }
    50% {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
    }
    75% {
      -webkit-transform: rotate(-270deg);
              transform: rotate(-270deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
  }
  
  @keyframes spin_reverse {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
    }
    50% {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
    }
    75% {
      -webkit-transform: rotate(-270deg);
              transform: rotate(-270deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
  }
  
  /* media queries */
  @media (min-width: 576px) {
    main section {
        grid-template-columns: repeat(5, 1fr);
  }
  }
  
  @media (min-width: 992px) {
    main section {
        grid-template-columns: repeat(10, 1fr);  
  }
    header {
        flex-direction: row;
    }
    .buttons {
        margin-bottom: 0;
        margin-right: 10px;
    }
    .div_controls {
        margin-right: 20px;
    }
    #error_messages {
        width: 400px;
    }
    .div_controls_first_row, .div_controls_second_row {
        flex-direction: row;
    }
    input[type=checkbox] {
        margin-bottom: 0px;
        margin-top: 0px;
      }
      .color_picker {
        left: 70%;
      }
      
      #buzz_color, #both_color {
        left: 70%;
      }
      #input_border ul, li {
        align-content: center;
    }
  }